.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

body{
    max-width: 1600px;
    padding: 0;
    margin: 0;
}

header{
    width: 1600px;
    background-color: #FFFFFF;
}

 nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    margin: 0 auto;
    width: 85.5%;
    max-width: 1360;
   align-items: center;
}

nav ul{
  display: flex;
  gap: 32px;
}
ul{
    align-items: center;
}

ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
     color: #000000;
}

.btn{
    padding: 12.5px 16px;
    font-size:16px;
    font-weight: 600;
    background-color:#469165 ;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.banner{
    background-image: url("hero_bg.png");
    background-repeat: no-repeat;
    vertical-align: middle;
    max-width: 1600px;
}

.banner-content{
    padding: 115.5px 0px 179.5px 0px;
    margin: 0 auto;
    text-align: center;
}


.banner-txt{
    max-width: 770px;
    margin: 0 auto;
}

.bt{
    padding: 8px 12px;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    color: #469165;
    background-color: #FFFFFF;
    border: none;
    border-radius: 20px;
    align-items: center;
    margin: 0px auto 16px;
   
}

.bt img{
    max-width: 16px;
    max-height: 16px;
}


.headline{
     font-size: 72px;
     max-width: 770px;
     font-weight: bold;
     line-height: 84px;
     margin: 16px 0;
     color: #FFFFFF;
}

.headline span{
    color: #30B868;
}

.p .small, .p .big{
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto 30px;
    display: block;
}

.small, .big{
    color: #FFFFFF;
}
.banner-content .two-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.banner-content .two-btn .btn, .banner-content .two-btn .play{
      max-width: 251px;
      display: flex;
      justify-content: center;
      gap: 10px;
      font-size: 16px;
      font-weight: 600;
      color: #FFFFFF;
      padding: 16.5px;
      align-items: center;
      cursor: pointer;
}

.two-btn .btn img{
    width: 15.63px;
    height: 13.13px;
}

.banner-content .two-btn .play{
    max-width:198px ;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 6px;
    backdrop-filter: blur(5ox);
}

.two-btn .play i{
    width: 14.38px;
    height: 16.87px;
}

#card{
    max-width: 1600px;
}
.card-info{
    padding-top: 80px;
    text-align: center;
}
.card-info .section-heading{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto 44px;
}
.card-info .section-heading h1{
    font-size:48px ;
    font-weight: bold;
    color:#001931 ;
    max-width: 740px;
    margin: 0 auto 16px;
}

.card-info .section-heading p,.card-container div p{
    font-size: 15px;
    line-height: 20px;
    color: #627382;
    max-width: 670px;
    margin: 0 auto;
}

.card-container{
    display: flex;
    gap:24px;
    margin: 0 auto;
    max-width: 1360px;
}
.card-container div{
    padding: 69.5px 24px 21px;
    width: 322px;
    margin: 0 auto;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 0px #00000032;
}
.card-container div h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
    text-align: center;
}
.card-container div img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 14px;
}
#brain{
    max-width: 1600px;
    background-color: #FFFFFF;
}
#brain .brain-container{
    display: flex;
    gap: 60px;
    max-width: 1360px;
    margin: 120px;
}
.brain-container .brain-img{
    max-width: 600px;
    max-width: 600px;
    border-radius: 6px;
}
.brain-container .brain-descrip{
          margin: 102px 0px;
          width: 700px;
}
.brain-descrip .brain-heading .cap{
       font-size: 16px;
       font-weight:500 ;
       color:#469165 ;
       line-height: 20px;
       margin: 0px 0px 16px;
}
.brain-descrip .brain-heading .h1{
    font-size:48px ;
    font-weight:bold ;
    color:#001931 ;
    margin-bottom:16px ;
}
.brain-descrip .brain-heading .details{
    font-size: 16px;
    color:#627382 ;
    line-height: 20px;
    margin-bottom:40px ;
}

.soln div{
    display: flex;
    gap:6px;
    align-items: center;
    margin-bottom: 16px;
}

footer {
    background-color: #001931;
}

footer .foot{
    padding: 120px 120px 30px 120px;
}
footer .foot .social{
    display: flex;
    gap: 1006px;
    align-items: center;
}
 .social .social-icons h4{
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 28px;
    margin-bottom: 16px;
}
.social .social-icons a{
    margin-right: 16px;
}
.social .social-icons i{
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 4.25px;
}

hr{
    margin-top: 80px;
    max-width: 1360px;
    color: #E5E7EB;
    opacity: 20%;
}
