.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

body{
    padding: 0;
    margin: 0;
}

header{
    width: 1600px;
    background-color: #FFFFFF;
}

 nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    margin: 0 auto;
    width: 85.5%;
    max-width: 1360;
   align-items: center;
}

nav ul{
  display: flex;
  gap: 32px;
}
ul{
    align-items: center;
}

ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
     color: #000000;
}

.btn{
    padding: 12.5px 16px;
    font-size:16px;
    font-weight: 600;
    background-color:#469165 ;
    color: #FFFFFF;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

